{% extends "layout.html" %}
{% block main %}

<script>

</script>


on the eternal to do list
<!-- <div class="card p-4 shadow" style="width: 300px;">
    <h5 class="text-center"> Mini MP3 Player</h5>
    <audio id="audio-player" src="your-audio-file.mp3"></audio>

    <div class="text-center mt-3">
        <button id="play-btn" class="btn btn-primary">▶ Play</button>
    </div>

    <input type="range" id="seek-bar" class="form-range mt-3" value="0">

    <div class="mt-3">
        <label for="volume-control">Volume</label>
        <input type="range" id="volume-control" class="form-range" min="0" max="1" step="0.1" value="1">
    </div>
</div> -->


<!-- <div style="display: block; width: fit-content; height: fit-content;">
    <embed src="https://drive.google.com/file/d/1-cwmBNn7SlUtF4Y6JvvwrfMUSySMKJvz/view?usp=sharing" width="500" height="375" type="application/pdf">    
</div> -->

<!-- width="960" height="569" -->
<iframe src="https://docs.google.com/document/d/12m6tJS0yfZtMx7xBbFSwOVyl4HUqMVZd9dQAeIQ4OSQ/edit?usp=sharing" style="width: max-content; height: max-content;" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>


{% endblock %}
