<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    <title>YouTube to MP3 Converter</title>
        <link rel="icon" href="data:,">
        <style>
            body { font-family: Arial, sans-serif; text-align: center;}
            input { width: 80%; padding: 10px; margin-bottom: 10px; }
            button { padding: 10px 20px; cursor: pointer; }
            #status { margin-top: 20px; }
            @media only screen and (max-width: 720px) {
                .respdiv {
                    margin-left: 56px;
                }
            }
        </style>
    </head>

<body>
    {% include "responsive_navbar.html" %}
    
    <div id="respdiv" style="margin-top: 56px;"> <!-- responsive div -->
        {% block main %}
    
        {% endblock %}

    </div>
    
</body>
</html>